<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lbkomunitas">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/parrot1"
        android:label="Komunitas Lovebird"
        android:roundIcon="@drawable/parrot1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".jancok"></activity>
        <activity android:name=".Lomba" />
        <activity android:name=".Diskusi" />
        <activity android:name=".Berita" />
        <activity android:name=".Pencarian" />
        <activity android:name=".TmbPost" />
        <activity android:name=".TmbDiskusi" />
        <activity android:name=".TmbLomba" />
        <activity android:name=".TmbBerita" />
        <activity android:name=".EditProfile" />
        <activity android:name=".Like" />
        <activity android:name=".Profile" />
        <activity android:name=".ProfileC" />
        <activity android:name=".DetImage" />
        <activity android:name=".Like" />
        <activity android:name=".Profile" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Daftar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>